# Node.js dependencies
node_modules/

# Parcel build output
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env


# Docker files (optional if you want to ignore local Docker temp files)
*.log
docker-compose.override.yml

# Git
.git/
