header {
  background-color: #004080;
  color: #fff;
  padding: 20px;
  text-align: center;
}

button {
  background-color: #004080;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 10px 20px;
}

footer {
  background-color: #eee;
  padding: 10px;
  text-align: center;
}
